 

<main class="main-content">
  <section class="section bg-gray py-30" id="section-tools"> 
    <div class="container">
      <!-- <img class="mb-20" src="assets/img/CanApps.svg" width="auto" height="36px">
      <div class="row">
        <div class="col mb-20" *ngFor="let app of apps; let i = index">
          <app-can-app [app]="app"></app-can-app>
        </div>
      </div> -->
      <div class="row">
      <div class="canAppDiv">
          <div id="canyaCard"></div>
        </div>
      </div>
    </div>
  </section>
</main>

 
