<main class="main-content bg-gray">
  <section class="section bg-gray py-20">
    <div *ngIf="loading" class="container d-flex h-100 flex-column justify-content-center">
      <img src="assets/img/loader.svg" height="36px" alt="Loader">
    </div>
    <div *ngIf="!loading" class="login-section container min-70 center-block text-center">
      <div *ngIf="isOnMobile">
        <div *ngIf="steps.detectAddress.isCurrent">
          <div *ngIf="webViewEthAddress">
            <h3>Sign in</h3>
            <p class="m-0"><strong>We have detected your ETH address</strong></p>
            <input type="text" class="form-control" value="{{ webViewEthAddress }}">
            <div *ngIf="!steps.detectAddress.isMatchingEthAddress">
              <p>No account matching this address</p>
              <nav class="mt-5">
                <button class="btn btn-primary btn-block" (click)="onExistingAccountFromMobile()">I already have an
                  account</button>
                <small class="d-block my-1">- or -</small>
                <button class="btn btn-primary btn-block" (click)="onCreateAccountFromMobile()">Create an account</button>
              </nav>
            </div>
            <div *ngIf="steps.detectAddress.isMatchingEthAddress">
              <p>We have matched this address with an existing account.</p>
              <nav class="mt-5">
                <button class="btn btn-primary btn-block" (click)="onMatchingAccountFromMobile()">Sign in</button>
              </nav>
            </div>
          </div>
          <div *ngIf="!webViewEthAddress">
            <h3>Sign in</h3>
            <firebase-ui (signInSuccessWithAuthResult)="onFirebaseLogin($event)"></firebase-ui>
            <a (click)="onDockLogin()" class="btn btn-white btn-lg dock-io-button">
              <img class="dock-io-icon" src="assets/svg/dock.svg" alt="dock.io icon">
              Sign in with Dock
            </a>
          </div>
        </div>
        <div *ngIf="steps.existingAccountFromMobile.isCurrent">
          <h3>Sign in</h3>
          <p class="m-0"><strong>Enter your email address</strong></p>
          <input type="text" class="form-control" placeholder="your email address" [(ngModel)]="emailAddress">
          <p class="my-5">Please enter the email associated with your facebook, google or github account.</p>
          <p>Don't have an account? <span class="text-primary" (click)="onCreateAccountFromMobile()">Sign up</span></p>
          <button class="btn btn-primary btn-block mt-5" (click)="onMatchingAccountFromMobile()">Sign in</button>
        </div>
        <div *ngIf="steps.createAccountFromMobile.isCurrent">
          <h3>Sign up</h3>
          <p>Due to the limitations of mobile wallets, you need to sign up from your default mobile browser.</p>
          <p>Create your account and return to this browser in order to make the best use of the CANWork platform.</p>
          <button class="btn btn-primary btn-block" (click)="onBackToMobileSignIn()">Back</button>
        </div>
        <div *ngIf="steps.matchingAccountFromMobile.isCurrent">
          <div *ngIf="mobileLoginState == 'sending-pin' || mobileLoginState == 'authentication-via-pin'">
            <img src="assets/img/loader.svg" height="36px" alt="Loader">
          </div>
          <div *ngIf="mobileLoginState == 'sending-pin-success'">
            <h3>Sign in</h3>
            <p class="m-0"><strong>Enter one-time PIN code</strong></p>
            <input type="text" id="authPin" #authPin class="form-control" placeholder="PIN" size="8">
            <p>A one-time PIN code was sent to ({{ pinDeliveredTo }})</p>
            <button class="btn btn-primary btn-block mb-5" (click)="ethereumAuthViaPinCodeAsync(authPin)">Enter</button>
            <p>Don't have an account? <span class="text-primary" (click)="onCreateAccountFromMobile()">Sign up</span></p>
          </div>
        </div>
      </div>
      <div *ngIf="!isOnMobile" class="other-login text-center">
        <h5 style="width: 100%;">Sign in to CanWork</h5>
        <firebase-ui (signInSuccessWithAuthResult)="onFirebaseLogin($event)"></firebase-ui>
        <a (click)="onDockLogin()" class="btn btn-white btn-lg dock-io-button">
          <img class="dock-io-icon" src="assets/svg/dock.svg" alt="dock.io icon">
          Sign in with Dock
        </a>
      </div>
    </div>
  </section>
</main>
