<div *ngIf="!loaded" class="container d-flex h-100 flex-column justify-content-center">
  <img src="assets/img/loader.svg" height="36px" alt="Loader">
</div>
<div *ngIf="loaded" [hidden]="!isMyProfile && allPortfolioItems.length < 1">
  <div class="card" style="box-shadow: 0 2px 9px 0 rgba(0,0,0,0.02); border-radius: 6px;">
    <div>
      <div class="card p-20">
        <div class="row">
          <div class="col-sm-10">
            <h5>PORTFOLIO</h5>
          </div>
          <div class="col-sm-1"></div>
          <div class="col-sm-1">
            <a *ngIf="isMyProfile && allPortfolioItems.length > 0" [routerLink]="['/profile/project']" style="color: #535353;"
              data-toggle="tooltip" data-placement="top" title="Add Project">
              <i class="ti-plus fw-600" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <div *ngIf="allPortfolioItems.length > 0">
          <div class="row" style="height: 25px"></div>
          <div class="row animated {{animation}}">
            <div class="col-sm-12">
              <div *ngFor="let item of paginatedPortfolioItems();let i = index" class="">
                <app-item [workItem]="item" [isMyProfile]="isMyProfile"></app-item>
              </div>
            </div>
          </div>
          <div class="row pt-35">
            <div class="col-12 d-flex justify-content-center">
              <button class="btn btn-sm" [disabled]="currentPage == 0" (click)="previousPage()">
                <i class="fa fa-chevron-left"></i>
              </button>
              <button class="btn btn-sm" [disabled]="currentPage == lastPage" (click)="nextPage()">
                <i class="fa fa-chevron-right"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="allPortfolioItems.length < 1">
          <div class="col-8">
            <p *ngIf="!isMyProfile">This provider has no portfolio</p>
            <p *ngIf="isMyProfile && (userModel.type === 'Provider')">You have not uploaded any portfolio items</p>
          </div>
          <div class="col-4 text-right">
            <a *ngIf="isMyProfile && (userModel.type === 'Provider')" class="btn btn-primary btn-add-work" [routerLink]="['/profile/project']"
              [ngStyle]="{ 'background': 'linear-gradient(122deg, ' + userModel.colors[0] + ' 0%, ' + userModel.colors[1] + ' 93%)' }">ADD
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
