
<main class="main-content">
  <section class="section py-100">
    <div class="container">
      <header class="section-header">
        <small>Oops</small>
        <h2>Page Not Found!</h2>
        <hr>
        <p class="lead">Seems you're looking for something that doesn't exist.</p>
      </header>

      <br>
      <p class="text-center"><a class="btn btn-primary" [routerLink]="['/home']">Return home</a></p>

    </div>
  </section>
</main>
  
  