<main id="auth-with-dock-component" class="d-flex align-items-center">
  <div class="container">
    <nav class="text-right mb-3">
      <a [routerLink]="['/login']" class="btn btn-default text-danger">Cancel</a>
    </nav>
    <div class="bg-white">
      <header>
        <h1>Welcome to Canwork</h1>
      </header>
      <div class="img-wrapper">
        <img src="assets/img/dock-logo.png" alt="Dock Logo" class="dock-logo">
      </div>
      <h4>We are collecting information from your Dock.io account.</h4>
      <div class="d-flex justify-content-center">
        <ul class="checkpoints">
          <li><span>Email address</span> <i class="fa fa-circle-o-notch fa-spin"></i></li>
        </ul>
      </div>
    </div>
  </div>
</main>
