 


<section class="section">
  <div class="container">
    <header class="section-header">
      <h2>Media Kit</h2>
      <hr>
      <p class="lead">For media inquiries, please email
        <a href="mailto:press@canya.com" class="text-canya">press@canya.com</a>
      <br/>
      <h3>Style guide</h3>
      <hr>
      <p class="lead">Check out our style guide at
        <a class="text-canya" href="{{styleGuideUrl}}">{{styleGuideUrl}}</a>
    </header>

    <h6>Assets</h6>
    <div class="row gap-y">
      <div class="col-12 col-md-6 col-lg-3">
        <a class="press-kit" href="assets/img/canya-media.png" style="border: none;">
          <img src="assets/img/canya-media.png" alt="logo">
          <div class="asset-details">
            <h5>CanYaCoin</h5>
            <p>Download</p>
          </div>
        </a>
      </div>

      <div class="col-12 col-md-6 col-lg-3">
        <a class="press-kit" href="assets/img/canya-media-square.png" style="border: none;">
          <img src="assets/img/canya-media-square.png" alt="logo">
          <div class="asset-details">
            <h5>CanYaCoin - Square</h5>
            <p>Download</p>
          </div>
        </a>
      </div>

      <div class="col-12 col-md-6 col-lg-3">
        <a class="press-kit" href="assets/img/logo-media.png" style="border: none;">
          <img src="assets/img/logo-media.png" alt="logo">
          <div class="asset-details">
            <h5>Logo</h5>
            <p>Download</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

 
