#public-job-dashboard {
  min-height: 70vh;
}

.public-job-card-desc p {
  height: 3.25rem;
  white-space: pre-wrap;
  overflow: hidden;
  margin-bottom: 1rem;
}

.provider-type-icon {
  max-height: 1.25rem;
  margin-bottom: 5px;
  margin-right: 12px;
}

@media screen and (max-width: 640px) {
  .public-job-card-desc p {
    margin-bottom: 0px;
  }
  .provider-type-icon {
    display: none;
  }
}


#checkBox {
  margin-bottom: 7.5px;
}

#section-manage-jobs {
  min-height: 80vh;
}

.job-info-status {
  text-align: right;
}

.search-group {
  border: none;
  margin-bottom: 10px;
  margin-right: 10px;
}

.search-group img {
  width: 24px;
  height: 24px;
}

.search-group .btn {
  padding-right: 5px;
  padding-left: 5px;
  border-color: white;
}


select {
  width: auto;
  padding: 5px 40px 5px 5px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url('../../../assets/img/chevron-down-solid.svg') 95% / 15px no-repeat #fff;
}

.mobile-search-form {
  display: none;
}

@media (max-width:863px) and (min-width:568px) {
  .headshot {
    width: 65px;
    height: 65px;
  }
}

@media (max-width:568px) {
  .desktop-search-form {
    display: none;
  }

  .mobile-search-form {
    display: block;
  }

  .job-info {
    text-align: center;
  }

  .job-info-status {
    text-align: center;
  }

  .desktop-right-mobile-center {
    text-align: center;
  }
}

/*the container must be positioned relative:*/

.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none;
  /*hide original SELECT element:*/
}

.select-selected {
  background-color: DodgerBlue;
}

/*style the arrow inside the select element:*/

.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/

.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/

.select-items div,
.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/*style items (options):*/

.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/

.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

#manage-jobs {
  min-height: 80vh;
  padding-bottom: 15vh;
}

::ng-deep .ngx-pagination .current {
  padding: 0.1875rem 0.625rem;
  background: #33ccff !important;
  border-radius: 5px !important;
  cursor: default;
}
