<section class="section bg-gray py-30" *ngIf="mediumFeed.length > 0">
  <div class="container pb-20">
    <div class="row justify-center">
      <div class="col-12 pb-20">
        <h4 class="text-center py-10 no-margin">LATEST UPDATES</h4>
      </div>
      <div class="col-lg-4 col-md-6 col-12 p-10" *ngFor="let fx of mediumFeed; let i = index">
        <div class="card card-bordered card-hover-shadow">
          <img class="card-img-top" src="{{fx.thumbnail}}">
          <div class="card-block">
            <div class="card-title">
              <a href="{{fx.link}}" target="_blank">{{ fx.title }}</a>
            </div>
            <a class="fw-500 fs-12" href="{{fx.link}}" target="_blank">
              See More
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
