.title h2,
h3,
p {
  min-height: 50px;
}

.card-size-btn {
  border-color: transparent;
  background-color: transparent;
  margin: 0px 2.5px 0px 2.5px;
}

.card-size-btn img {
  height: 36px;
  width: auto;
}

.filter-btn {
  z-index: 90;
  background-color: white;
  height: 36px;
  width: 150px;
  margin-top: 5px;
}

.filter-btn .selected {
  background-color: #33ccff;
  color: white;
}



.chosen {
  color: white !important;
  background-color: #33ccff !important;
}


#category-btn{
  margin-right: 27.5px;
  margin-left: 15px;
}

.category-btn {
  border-radius: 60px;
  padding: 7.5px;
  width: 275px;
  margin: 7.5px;
}
.category-btn:hover {
  background-color: rgba(51, 204, 255, 0.75);
}
.chosen:hover {
  background-color: rgba(51, 204, 255, 0.75) !important;
}
@media screen and (max-width : 1200px){
  .category-btn {
    width: 225px;
  }
}
.menu-options {
  margin-top: 10px;
  padding: 15px;
  right: auto;
  z-index: 125;
  position: absolute;
  background-color: white;
  border-radius: 5px;
  display: block;
  opacity:  100;
}

#hours-menu {
  left: 190px;
}

@media screen and (max-width:576px){
  #hours-menu {
    left: auto;
  }
  #hourly-btn {
    margin-left: 15px;
  }
}
.hide-menu {
  opacity:  0 !important;
  z-index: 0 !important;
  right: 250vw; /* put the menus OFF the screen instead. The sliders won't render properly otherwise. */
  left: auto !important;
}

.set-text {
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 10px;
  transition: all 0.25s;
  cursor: pointer;
}
.set-text:hover{
  color: #33ccff;
}
@media screen and (max-width: 576px) {
  .menu-options {
    margin: 0 auto;
    left: 20px;
  }
}
  ::ng-deep .search-box .ais-SearchBox {
    width: 90%;
    max-width: 600px;
  }

  ::ng-deep .ais-SearchBox-input {
    outline: none;
    border-color: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  }

  ::ng-deep .ais-SearchBox-submit {
    background-image: url('../../assets/img/search-icon-white.svg');
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    width: 3rem;
    height: 105%;
    border-width: 5px;
    border-style: solid;
    border-color: #33ccff;
    margin-left: 91.5%;
    background-color: #33ccff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  ::ng-deep .ais-SearchBox-submitIcon {
    display: none;
  }

  ::ng-deep .ais-SearchBox-input:hover {
    transition: all 0.5s;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  }
 

  ::ng-deep .ng5-slider .ng5-slider-pointer {
    width: 8px;
    height: 16px;
    bottom: 0;
    background-color: #333;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  ::ng-deep .ais-Pagination-item--selected .ais-Pagination-link {
    background-color: #33ccff;
    border-color: #33ccff;
  }

  ::ng-deep .ais-Pagination-link {
    padding: .3rem .6rem;
    display: block;
    border: none;
    border-radius: 5px;
  }

  @media screen and (max-width:576px){
    ::ng-deep .ais-RefinementList-list{
      columns: 1;
      width: auto;
      height: auto;
    }
  }
  ::ng-deep .ais-RefinementList-checkbox {
    display: none;
  }

  ::ng-deep .ais-RefinementList-count{
    display: none;
  } 

  ::ng-deep .ais-SearchBox-reset {
    display: none;
  }

  ::ng-deep .ais-ToggleRefinement-count{
    display: none;
  }

  ::ng-deep .ais-RefinementList-label{
    font-weight: 500;
    font-size: 11px !important;
    letter-spacing: 1.5px;
    margin: 0;
  }
  
  ::ng-deep .ais-ToggleRefinement-label{
    margin-top: 10px;
  }

  ::ng-deep .ais-RefinementList {
    padding: 7.5px;
  }

  ::ng-deep .ais-RefinementList-item{
    text-align: center;
    padding: 10px;
    margin: 7.5px;
    border-radius: 36px;
    border: 1px #33ccff solid;
    color: #33ccff;
  }

  ::ng-deep .ais-RefinementList-item--selected{
    background-color: #33ccff;
    color: white;
  }

  ::ng-deep .ais-RefinementList-labelText{
    font-size: 11px;
  }

  ::ng-deep .ais-ToggleRefinement-label{
    margin-left: 15px;
  }

  ::ng-deep [class^=ais-]{
    font-size: inherit;
  }

  ::ng-deep .ais-RangeInput {
    margin: 0 auto;
  }

  ::ng-deep .ais-RangeInput-submit{
    margin-bottom: 5px;
    margin-left: 15px;
    background-color: #33ccff;
    width: 50px;
    height: 32.5px;
  }

  ::ng-deep .ais-RangeInput-form{
    padding: 30px;
  }
  ::ng-deep .ais-RangeInput-form input {
    border-radius: 5px;
    border: 1px #9b9b9b solid;
  }

  .ais-SearchBox-input:focus {
    outline: none !important;
  }

  .search-results {
    padding-top: 10vh;
  }

  .min-70 {
    min-height: 70vh;
  }

  .option-row {
    height: 16px;
    padding: 20px
  }

  /* /////////////////////////////////////////////////////////////////////////// */

  .specialcard-holder {
    color: #000;
    border-radius: 5px;
    width: 100%;
    min-height: 100%;
    font-family: Montserrat, HelveticaNeueLight, HelveticaNeue-Light, "Helvetica Neue Light", HelveticaNeue, "Helvetica Neue", Helvetica, Tahoma, Geneva, Arial, sans-serif;
    font-size: 2em;
    font-weight: 800;
    padding: 0.6em;
  }

  .specialcard {
    font-family: Montserrat, HelveticaNeueLight, HelveticaNeue-Light, "Helvetica Neue Light", HelveticaNeue, "Helvetica Neue", Helvetica, Tahoma, Geneva, Arial, sans-serif;
    font-size: 2.778em;
    font-weight: 800;
    height: 100%;
    width: 100%;
    padding: 0.5em 1em;
    border-radius: 5px;
    display: table-cell;
    vertical-align: middle;
    letter-spacing: -2px;
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    min-height: 100%;
  }

  .specialcard .subtle {
    color: #000;
    font-size: 0.5em;
    font-weight: 400;
    letter-spacing: -1px;
  }

  .specialcard i {
    font-size: 3em;
  }

  .bg-gold {
    background: -webkit-linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
    background: -o-linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
    background: -moz-linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
    background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
  }

  .bg-news {
    background: -webkit-linear-gradient(70deg, #fc3b30 40%, #5ac8fa 40%);
    background: -o-linear-gradient(70deg, #fc3b30 40%, #5ac8fa 40%);
    background: -moz-linear-gradient(70deg, #fc3b30 40%, #5ac8fa 40%);
    background: linear-gradient(70deg, #fc3b30 40%, #5ac8fa 40%);
  }

  .bg-germany {
    color: #fff;
    background: -webkit-linear-gradient(110deg, #000 33%, rgba(0, 0, 0, 0) 33%), -webkit-linear-gradient(110deg, #dd0000 66%, #ffc608 66%);
    background: -o-linear-gradient(110deg, #000 33%, rgba(0, 0, 0, 0) 33%), -o-linear-gradient(110deg, #dd0000 66%, #ffc608 66%);
    background: -moz-linear-gradient(110deg, #000 33%, rgba(0, 0, 0, 0) 33%), -moz-linear-gradient(110deg, #dd0000 66%, #ffc608 66%);
    background: linear-gradient(110deg, #000 33%, rgba(0, 0, 0, 0) 33%), linear-gradient(110deg, #dd0000 66%, #ffc608 66%);
  }

  .bg-aurora {
    color: #fff;
    background: -webkit-linear-gradient(-70deg, #fa7c30 30%, rgba(0, 0, 0, 0) 30%), url('https://www.nasa.gov/sites/default/files/thumbnails/image/pia21421-cr.jpg');
    background: -o-linear-gradient(-70deg, #fa7c30 30%, rgba(0, 0, 0, 0) 30%), url('https://www.nasa.gov/sites/default/files/thumbnails/image/pia21421-cr.jpg');
    background: -moz-linear-gradient(-70deg, #fa7c30 30%, rgba(0, 0, 0, 0) 30%), url('https://www.nasa.gov/sites/default/files/thumbnails/image/pia21421-cr.jpg');
    background: linear-gradient(-70deg, #fa7c30 30%, rgba(0, 0, 0, 0) 30%), url('https://www.nasa.gov/sites/default/files/thumbnails/image/pia21421-cr.jpg');
    background-size: cover;
    background-position: 50% 21%;
    text-align: right;
  }

  .bg-purple {
    color: #fff;
    background: -webkit-linear-gradient(110deg, #a60af3 40%, rgba(0, 0, 0, 0) 30%), -webkit-radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #c03fff 70%);
    background: -o-linear-gradient(110deg, #a60af3 40%, rgba(0, 0, 0, 0) 30%), -o-radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #c03fff 70%);
    background: -moz-linear-gradient(110deg, #a60af3 40%, rgba(0, 0, 0, 0) 30%), -moz-radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #c03fff 70%);
    background: linear-gradient(110deg, #a60af3 40%, rgba(0, 0, 0, 0) 30%), radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #c03fff 70%);
  }

  .bg-spring {
    background: -webkit-linear-gradient(70deg, #fff810 30%, rgba(0, 0, 0, 0) 30%), -webkit-linear-gradient(30deg, #63e89e 60%, #ff7ee3 60%);
    background: -o-linear-gradient(70deg, #fff810 30%, rgba(0, 0, 0, 0) 30%), -o-linear-gradient(30deg, #63e89e 60%, #ff7ee3 60%);
    background: -moz-linear-gradient(70deg, #fff810 30%, rgba(0, 0, 0, 0) 30%), -moz-linear-gradient(30deg, #63e89e 60%, #ff7ee3 60%);
    background: linear-gradient(70deg, #fff810 30%, rgba(0, 0, 0, 0) 30%), linear-gradient(30deg, #63e89e 60%, #ff7ee3 60%);
  }

  .swiper-pagination {
    text-align: right;
    bottom: 40px !important;
    padding-right: 20px;
  }

  .stop-scrolling {
    height: 100%;
    overflow: hidden;
  }
