.study-check{
    margin-top: 35px;
}
#warning-msg{
    border-radius: 5px;
    background-color: #ff6666;
    color: white;
    margin: 1.5px;
    font-weight: 600;
    transition: 0.5s all;
    display: none;
}
#warning-msg p{
    padding: 10px;
}
#close-warning{
    border:none;
    background-color: transparent;
    color:white;
}
#warning-msg.active{
    display: flex;
}